@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





body {
    
    background: linear-gradient(white 20%,lightCyan 30%, skyBlue 50%, deepSkyBlue 80% ) ;
    height: 1080px;
    display: flex;
    justify-content: center;
}

#bluetop {
    background: linear-gradient(to right,navy 30%, dodgerblue ) ;
    color: white;
    width: 592px;
    height: 30px;
    padding-left: 10px;
    margin-top: 0%;
    font-family: 'Ramche';
}
#bluetop.text {
    padding-top: 5px;
    padding: 10%;
}


#box {
    width: 150px;
    height: 150px; 
    border-radius: 70%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 225px;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
modifySpace.logoutButton {
    width: 12px;
    height: 12px;
    margin: 0.5% 0 0 72%;
}
#logoutButton {
    margin-top: 10px;
    margin-left: 260px;
}





.pageColor{
width: 600px;
height: 900px;

                margin: 30px;
                
                border: 2px outset rgb(100, 100, 100);
                background-color: rgb(175, 174, 174);
            }
            #phoneNumber1,#phoneNumber2,#phoneNumber3{
                width: 101.5px;
                text-align: center;
                
            }
            #phoneNumber1{
                width: 80px;
            }
            #nickname{ 
                width: 335px;
            }
            #id{
                width: 335px;
            }
            #pw,#checkpw{
                width: 335px;
            }
            #checkNname {
                width: 110px;
            }
            #createAccount{
                width: 550px;
                height: 600px;
                margin-top: 0%;
                padding: 50px;
                border-radius: 0%;
                
               
            }
            #emailid,#emailLink{
                width: 150px;
            }
            input{
                border: 1.5px solid gray;
            }
            
            input{
                height: 26px;
            }
            .pawnTab{
                width: 600px;
            }
            































